services:
  tftp-server:
    build:
      context: ./tftp-server
      dockerfile: Dockerfile
    # ports:
    #   - 69:69/udp
    network_mode: host
    volumes:
      # - ./tftp-server/tftpd-hpa:/etc/default/tftpd-hpa
      - ./tftp-server/files:/srv/tftp
    restart: unless-stopped

  http-server:
    image: nginx:latest
    ports:
      - 80:80
    volumes:
      - ./http-server/nginx.conf:/etc/nginx/nginx.conf
      - ./http-server/files:/var/www/html/
    restart: unless-stopped
